body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

#treemap {
    width: 1000px;
    height: 600px;
    margin: auto;
}

#tooltip {
    position: absolute;
    background-color: white;
    padding: 5px;
    border: 1px solid #333;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
}

.legend-item {
    margin: 5px;
}

#legend {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
